@import '/src/styles.scss';

.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #323663;
    background: linear-gradient(360deg, rgba(50, 54, 99, 0.3) 0%, rgba(255, 255, 255, 1) 100%);

    h1 img {
      display: flex;
      width: 16rem;
      margin-bottom: 2rem;
    }
  
    form {
      display: flex;
      flex-direction: column;
      width: 30%;

      @media (max-width: 768px) {
        width: 80%;
      }
    
      label {
        font-size: 12px;
        margin-bottom: 5px;
      }

      input[type="text"],
      input[type="password"] {
        padding: 10px;
        margin-bottom: 20px;
        border: 1px solid #a0a0ab;
        border-radius: .5rem;
        outline: none;
        font-size: $fontSizeText;
        background: transparent;
      }

      .button-login {
        padding: 14px;
        margin-top: 20px;
        border-radius: .5rem !important;
      }
    }
}

 