<div class="menu-container" [class.minimized]="isSidebarMinimized">
  <div class="menu-header-logo" style="width: 100%;">
    <div class="row">
      <div class="col-12 sm-12 md-12">
        <div class="logo-content">
          <img src="../../assets/logo-tacospacos.svg" alt="Logo Tacos Pacos" width="95"/>
          <!-- <img class="logo" src="{{ marcaSeleccionada!.sucursal!.logoUrl }}" /> --->
        </div>
      </div>
    </div>

   <div class="row">
      <div class="col-12 sm-12 md-12">
        <div class="content-current-title">
          <p *ngIf="!isSidebarMinimized">{{getSucursal().description}}</p>
        </div>
      </div>
    </div> 
    
  </div>
  <div class="menu-list-content">
    <ul>
      <li *ngFor="let item of menuList" class="list-item">
        <a (click)="navigate(item.link, item)" [ngStyle]="{'color': item.selected ? '#ffca2e': '#fff'}">
          <i
            class="{{ item.icon }}"
            data-toggle="tooltip"
            data-placement="top"
            title="Tooltip on top"
          ></i>
          <span *ngIf="!isSidebarMinimized">{{ item.nombre }}</span>
        </a>
      </li>
    </ul>
    <!--     <a routerLink="gastos" style="text-align: center; width: 100%">
      <i class="" data-toggle="tooltip" data-placement="top" title="Gastos"></i>
      Gastos
    </a>
    <br />
    <a routerLink="proveedores" style="text-align: center; width: 100%">
      <i
        class=""
        data-toggle="tooltip"
        data-placement="top"
        title="Proveedores"
      ></i>
      Proveedores
    </a> -->
  
    <ul>
      <li class="list-item">
        <a (click)="logout()">
          <i class="fa-solid fa-arrow-right-from-bracket"></i>
          <span *ngIf="!isSidebarMinimized">Cerrar sesión</span>
        </a>
      </li>
    </ul>
   
  </div>
</div>
